{% extends 'adminhome.html' %}
{% block 'body' %}

<h2 align="center"><u>Add Music</u></h2>
<br><br>
<form method="POST" action="{% url 'insertmusic' %}">
    {% csrf_token %}
    <table align="center" height="40%" width="40%">
        <tr align="center"><td><label>Select Language</label></td>
        <td><select name="lang" required>
            <option value="">--Select--</option>
            <option>Telugu</option>
            <option>Tamil</option>
            <option>Hindi</option>
            <option>Malayalam</option>
            <option>Englilsh</option>
        </select></td>
        </tr>
        <tr align="center">
            <td><label>Choose Category</label></td>
             <td><select name="category" required>
            <option value="">--Select--</option>
            <option>BGM</option>
            <option>Beats</option>
            <option>Melody</option>
            <option>Spiritual</option>
            <option>Sad</option>
            <option>Calm</option>
            <option>Duet</option>
            <option>OST</option>
        </select></td>


        </tr>
        <tr align="center">
            <td><label>ReleaseYear</label></td>
            <td><input name="ry" type="number" required></td>


        </tr>

        <tr align="center">
            <td><label>Song Name</label></td>
            <td><input name="name"  type="text" required></td>


        </tr>
        <tr align="center">
            <td><label>Movie Name</label></td>
            <td><input name="movie" type="text" required></td>


        </tr>
        <tr align="center">
            <td><label>Singer</label></td>
            <td><input name="singer" type="text" required></td>


        </tr>



        <tr align="center"><td><input type="submit" value="Add" class="button-54"/></td>
        <td><input type="reset" value="clear" class="button-54"/></td>
        </tr>


    </table>



</form>

{% endblock %}