{% extends 'adminhome.html' %}
{% block 'body' %}

<h2 align="center"><u>Add Podcast</u></h2>
<br><br>
<form method="post" action="{% url 'insertpodcasts' %}">
    {% csrf_token %}
    <table align="center" height="40%" width="40%">
        <tr align="center">
            <td><label>Select Language</label></td>
            <td>
                <select name="lang" required>
                    <option value="">--Select--</option>
                    <option value="Telugu">Telugu</option>
                    <option value="Tamil">Tamil</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Malayalam">Malayalam</option>
                    <option value="English">English</option>
                </select>
            </td>
        </tr>
        <tr align="center">
            <td><label>Choose Category</label></td>
            <td>
                <select name="category" required>
                    <option value="">--Select--</option>
                    <option value="Motivation">Motivation</option>
                    <option value="Spiritual">Spiritual</option>
                    <option value="Ancient">Ancient</option>
                    <option value="History">History</option>
                    <option value="Story">Story</option>
                    <option value="Sports">Sports</option>
                    <option value="Drama">Drama</option>
                    <option value="Radio">Radio</option>
                </select>
            </td>
        </tr>
        <tr align="center">
            <td><label>ReleaseYear</label></td>
            <td><input name="ry" type="number" required></td>
        </tr>
        <tr align="center">
            <td><label>Podcast Name</label></td>
            <td><input name="name" type="text" required></td>
        </tr>
        <tr align="center">
            <td><label>Author Name</label></td>
            <td><input name="author" type="text" required></td>
        </tr>
        <tr align="center">
            <td><input type="submit" value="Add" class="button-54" /></td>
            <td><input type="reset" value="clear" class="button-54" /></td>
        </tr>
    </table>
</form>


{% endblock %}