<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="size:1040px;height:960px;background:url('https://img.freepik.com/premium-vector/realistic-3d-render-white-portable-wireless-earphones-with-golden-notes_201250-1993.jpg?w=2000') no-repeat; background-size: cover">
<h1>Search Results</h1>

    <ul>
        {% for result in results %}
            <li>
                <a href="{% url 'play_selected_music' result.id %}">{{ result.title }}</a>
            </li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
</body>
</html>