
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #494949;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: peru;
}

div.gallery {
  margin: 5px;

  float: left;
  width: 24%;
}



div.gallery img {
width: 100%;


}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  background-color: black;

}
.hr{
width: 20px;
}
.attribute {

    padding: 15px;
    margin: 10px 0;

    width: 30%;
    height: 40%;
    justify-content: center;
    opacity: 0.7;
    background-color: lightgrey;
    color: black;


}
body{
background-size: cover;
}

</style>





<body background="https://wallpapercave.com/wp/wp3159343.jpg">

<CENTER><h1><font color="white">MUSIC STREAMING SERVICES</font></h1></CENTER>

<ul>
<li><a href="{% url 'firstpage' %}">Home</a></li>
  <li><a href="{% url 'userregister' %}">Register</a></li>
  <li><a href="{% url 'firstuser' %}">Login</a></li>
  <li><a href="{% url 'firstadmin' %}">Admin Login</a></li>
  <li style="float:right"><a class="active" href="{% url 'firstabout' %}">About</a></li>
</ul>
<br><center><font color="white"><h1>Welcome To The Unlimited Streaming</h1></font>

</center>
<center></div><br><br><div align="center" class="attribute">
<h3><font size="6">SIGN UP</font></h3><br><br>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br><br>
    <button>Register</button>
    <a href="{% url 'firstuser' %}">Already Have an Account? Sign In Here</a>
</form></div></center>
</body>


